[Desktop Entry]
Type=Application
Name=VolWorks
Comment=Volume manager that actually works
Name[tr]=SesAyar
Comment[tr]=Gerçekten çalışan ses yöneticisi

Exec=volworks
Icon=audio-volume-high
Terminal=false
Categories=AudioVideo;Audio;System;TrayIcon;
StartupNotify=false